<header>
  <div class="headerLogo">
    <div class="rectangleLogo"></div>
    <h1>National<br />Animal Lab</h1>
  </div>
  <div class="newAnimal">
    <a class="newAnimalText" href="/animals/new">New Animal</a>
  </div>
</header>
