<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/new.css" />
  </head>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <h2>Add a New Animal</h2>
      <!-- ----------------------- -->
      <section>
        <form action="/animals" method="POST">
          <fieldset>
            <label class="species">
              Species: <br /><input
                type="text"
                name="species"
                placeholder="enter species name"
              />
            </label>
            <br />
            <label class="extinct">
              Extinct (check if extinct):
              <input type="checkbox" name="extinct" />
            </label>
            <br />
            <label class="location">
              Location Origin: <br /><input
                type="text"
                name="location"
                placeholder="enter location origin"
              />
            </label>
            <br />
            <label class="life">
              Life Expectancy: <br /><input
                type="text"
                name="lifeExpectancy"
                placeholder="enter number"
              />
            </label>
          </fieldset>
          <input type="submit" value="Add Animal" />
        </form>
      </section>
    </main>
  </body>
</html>
