.ad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 400px;
  background-color: lightblue;
  position: relative;
  overflow: hidden;
}

img {
  position: absolute;
  width: 100%;
  top: -50px;
}
