.ad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: rgb(40, 162, 154);
  position: relative;
  overflow: hidden;
}

img {
  position: absolute;
  width: 50%;
}
