body {
  background-color: black;
}

main {
  display: grid;
  grid-template-areas:
    "title title title"
    "species extra extra"
    "species extra extra";
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
  width: 70%;
  height: 100vh;
}

h2 {
  color: white;
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
}

.h2Underline {
  background-color: rgb(227, 5, 42);
  width: 60px;
  height: 5px;
  margin: 0 auto;
}

.mainTitle {
  grid-area: title;
}

.animalList {
  grid-area: species;
}

.animalLink {
  text-decoration: none;
}
.animalLink:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
}

.speciesHeader {
  display: flex;
  align-items: center;
}

.speciesBox {
  width: 5px;
  height: 25px;
  background-color: rgb(227, 5, 42);
  margin-right: 20px;
}

h3 {
  color: white;
  font-size: 32px;
  text-transform: uppercase;
}

.animalItems {
  box-shadow: 3px 3px rgb(227, 5, 42);
  padding-bottom: 5px;
  padding-right: 10px;
  margin-bottom: 20px;
}

h4 {
  color: white;
  font-size: 20px;
  margin: 0;
}

.animalExtras {
  grid-area: extra;
  width: 600px;
  height: 420px;
  background-color: aqua;
  margin: 32px auto;
}
